<!-- carousel.html -->
{% load static %}
<div class="owl-carousel owl-theme">
    <div class="item">
        <img src="{% static 'img/1.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/2.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/3.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/4.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/5.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/6.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/7.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/8.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/9.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/10.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/11.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/12.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/13.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/14.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/15.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/16.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/17.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/18.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/19.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/20.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/21.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/22.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/23.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/24.gif' %}" style="height: 65%; width: 80%;" alt="">
    </div>

</div>