<div class="card shadow-lg">
    <h4 class="card-header">Works</h4>
    <div class="card-body">
        <div class="list-group">
            <a href="{% url 'works:weekly_reports' %}" class="list-group-item {% if request.path == '/works/weekly_reports' %} list-group-item list-group-item-action active{% endif %}">
                Weekly Reports (Graduate)
                <!-- <span class="badge bg-danger rounded-pill float-end">{{ total }}</span> -->
            </a>
            
            <a href="{% url 'works:post_doc_reports' %}" class="list-group-item {% if request.path == '/works/post_docs/' %}list-group-item list-group-item-action active{% endif %} "> Weekly Reports (Post Doctoral Researchers)</a>
            <a href="{% url 'works:seminars' %}" class="list-group-item {% if request.path == '/works/seminars/' %}list-group-item list-group-item-action active{% endif %} ">Seminar</a>
            
        </div>
    </div>
</div>
