{% extends 'base.html' %} {% load bootstrap5 %} {% block content %}
{% include 'partials/_banner.html' with heading="Projects" %}
<div class="container mt-5 projects">
  <div class="row">
    <div class="col-sm-3">
      <div class="card shadow-lg">
        <h4 class="card-header">Researches</h4>
        <div class="card-body">
          <ul class="list-group">
            {% for base_project in base_projects %}
              <li class="list-group-item">
                
                <span class="fw-bold">{{ base_project.name }}</span>

                <ul class="list-group">
                  {% for project in base_project.project_set.all %}
                    <li class="list-group-item">
                      <a href="{% url 'research:history' pk=project.pk %}">{{ project.name }}</a>
                    </li>
                  {% endfor %}
                </ul>

              </li>
            {% endfor %}
          </ul>
          
        </div>
    </div>
    
    </div>
    <div class="col-sm-9">
      {% if history_list %}
      <h4>{{ project.name }}</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Subject</th>
            <th>Author</th>
			      <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <!-- history of the projects -->
          {% for history in history_list %}
            <tr>
              <td>{{ forloop.revcounter }}</td>
              <td>{{ history.subject }}</td>
              <td>{{ history.writer|capfirst }}</td>
              <td>{{ history.write_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <P>No data</P>
      {% endif %}
    </div>
  </div>
</div>

<!-- {% if user.is_authenticated %}
<div class="position-fixed bottom-0 end-0 p-3">
    <a href="{% url 'research:create' %}" class="btn btn-outline-info" type="button">
        <i class="fa-solid fa-plus"></i> Add Conference
	</a>
  </div>
{% endif %} -->
{% endblock %}
