{% extends 'base.html' %} {% load bootstrap5 %} {% block content %}
{% include 'partials/_banner.html' with heading="Pure Chain" %}
<div class="container mt-5 projects">
  <div class="row">
    <div class="col-sm-3">
      
    </div>
    
    </div>
    
  </div>
</div>

<!-- {% if user.is_authenticated %}
<div class="position-fixed bottom-0 end-0 p-3">
    <a href="{% url 'research:create' %}" class="btn btn-outline-info" type="button">
        <i class="fa-solid fa-plus"></i> Add Conference
	</a>
  </div>
{% endif %} -->
{% endblock %}
